@media screen and (min-width: 1000px) {
    .maiko-face {
        float: right;
        width: 40%;
    }
    .about-text-area {
        width: 60%;
    }
}
@media screen and (max-width: 1000px) {
    .maiko-face {
        width: 100%;
        content: var(--about-face-full);
    }
    .about-text-area {
        margin-top: 1.5rem;
    }
}

.about-section {
    margin-top: 1.5rem;
}
.about-section .section-header {
    height: 2rem;
    display: flex;
    align-items: center;
}
.about-section .section-header img {
    height: 100%;
    margin-right: 0.4rem;
}
.about-section .section-header p {
    margin: auto 0px;
}