nav {
    background-color: var(--navbar-background);
    display: flex;
}
nav a {
    font-size: var(--navbar-font-size);
    color: var(--navbar-text-color);
    text-decoration: none;

    padding: var(--navbar-a-padding);
    margin: var(--navbar-a-margin);

    background-color: transparent;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
}
/* Highlighting the button corresponding to the current page,
or whats currently being moused over */
nav a.current-page { 
    background: white;
    color: black !important;
}
nav a:hover:not(.current-page) {
    background: white;
    color: black;
}