nav {
    background-color: var(--navbar-background);
    display: flex;
    width: 100%;
}
nav a {
    color: var(--navbar-text-color);

    padding: var(--navbar-a-padding);
    margin: var(--navbar-a-margin);
    width: 100%;
    max-height: var(--navbar-max-height);
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
}
@media screen and (min-width: 1000px) {
    nav a {
       font-size: var(--navbar-font-size);
   }
}
@media screen and (max-width: 1000px) {
    nav a {
       font-size: calc(var(--navbar-font-size) * 2);
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

/* Highlighting the button corresponding to the current page,
or whats currently being moused over */
nav a.current-page { 
    background: white;
    color: black !important;
}
nav a:hover:not(.current-page) {
    background: white;
    color: black;
}
nav a:first-child {
    margin-left: var(--navbar-a-edge-margin);
}
nav a:last-child {
    margin-right: var(--navbar-a-edge-margin);
}
nav a:not(:last-child) {
    border-right: 1px solid var(--navbar-divider-color);
}