:root {
    /* Colors */
    --page-background: #f5f5f5;
    --navbar-background: #1a1a1a;
    --navbar-text-color: #fff;
    --navbar-divider-color: #777;
    /* Font sizes */
    --navbar-font-size: 1.75em;
    /* Element sizes */
    --navbar-a-padding: 0.5rem 0.5em;
    --navbar-a-margin: 0.3em 0em;
    --navbar-a-edge-margin: 0.3em;
    /* Dynamic image sources */
    --about-face-full: url("../assets/gigachad_smol.jpg");
}
body {
    background-color: var(--page-background);
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
/* Most of the content is contained in this div to make responsiveness easier */
.main-page-content {
    width: 80%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 3rem;
}
.page-title {
    margin: 0px;
}