:root {
    /* Colors */
    --page-background: #f5f5f5;
    --navbar-background: #1a1a1a;
    --navbar-text-color: #fff;
    --navbar-divider-color: #777;
    /* Font sizes */
    --navbar-font-size: 1.5vw;
    /* Element sizes */
    --navbar-a-padding: 0.5rem 0.5em;
    --navbar-a-margin: 0.3em 0em;
    --navbar-a-edge-margin: 0.3em;
    --navbar-max-height: 5vh !important;
    /* Dynamic image sources */
    --about-face-full: url("../assets/gigachad.jpg");
    --about-face-small: url("../assets/gigachad_smol.jpg");
    /* Misc. Margins */
    --main-content-margin: 3rem;
    /* Borders */
    --embed-border-radius: 1em;
}
body {
    background-color: var(--page-background);
    margin: 0px;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
}
/* Most of the content is contained in this div to make responsiveness easier */
.main-page-content {
    width: 80%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: var(--main-content-margin);
}
.page-title {
    margin: 0px;
}