.google-forms-embed {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    height: 100%;
}
.main-page-content {
    /* Doesn't work. dont know why. */
    /* height: calc(100% - var(--navbar-max-height) - var(--main-content-margin) - var(--navbar-a-padding)); */
}